header, section, footer, article, nav{
    display: block;
}
body{
    font-size: large;
    color: rgb(3, 3, 3);
    background-color: rgb(158, 141, 141);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrap{
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom right, #403F44, #1E1B32);
    border: 2px solid rgb(233, 183, 77);
}
header{
    width: 100%;
    height: 150px;
    background-color: rgb(153, 153, 153);
}
.hnav{
    width: 100%;
    height: 63px;
}
.hnav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.hnav li{
    font-size: larger;
    text-align: center;
    float: left;
    width: 255.4px;
    line-height: 60px;
    border: 1px solid #1E1B32;
    background-color: rgb(247, 211, 168);
}
.hnav a{
    color: rgb(32, 51, 49);
    text-decoration: none;
}
.hnav a:hover{
    background-color: rgb(110, 37, 37);
    color: #e7d884;
    display: block;
}
header h1{
    color: #1E1B32;
    text-align: center;
    font-size: xxx-large;
}
footer{
    clear: both;
    width: 98.4%;
    height: 80px;
    background-color: rgb(153, 153, 153);
    padding: 7px 0px 0px 20px;
}
.fnav{
    width: 100%;
    height: 63px;
}
.fnav ul{
    padding: 0px;
    list-style: none;
    margin-left: 25%;
}
.fnav li{
    font-size: larger;
    text-align: center;
    float: left;
    width: 150px;
    line-height: 60px;
}
.fnav a{
    color: #030000;
    text-decoration: none;
}
.fnav a:hover, nav a.current{
    color: #f30f0f;
}
section.sec{
    float:left;
    width:1000px ;
}
article{
    clear: both;
    overflow: auto;
    width: 100%;
}
table,tr,th,td{
    padding: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background-color: rgb(128, 126, 126);
}
 /* Home Page Section Artical 1 Paragraph */
#mp{
    font-size:xx-large;
    font-weight: 1100px;
}
form{
    background-color: rgb(110, 153, 153);
}
h1{
    margin-top: 0%;
    border: none;
}